<% include partials/header %>

<div class="container">
    <form action="/getPayment" method="GET">

    <% if (paymentDetails.paymentOutput.redirectPaymentMethodSpecificOutput.paymentProductId == 809) { %>
        <div class="container-header">
            <h3 class="text-center"> Real Time Banking Response </h3>
        </div>
    <% } else if (paymentDetails.paymentOutput.redirectPaymentMethodSpecificOutput.paymentProductId == 840) { %>
        <div class="container-header">
            <h3 class="text-center"> Paypal Transaction Response </h3>
        </div>
        <% } %>

        <div class="text-info">
            <label class="form-control-static text-info"> Payment Product ID: </label>
        </div>

        <tab>
        <div class="text-info">
            <label class="form-control-static small" id="paymentID"><%= paymentDetails.paymentOutput.redirectPaymentMethodSpecificOutput.paymentProductId %></label>
        </div>
        </tab>

        <div class="text-info">
            <label class="form-control-static text-info"> Payment ID: </label>
        </div>

        <tab>
        <div class="text-info">
            <label class="form-control-static small" id="paymentID"><%= paymentDetails.id %></label>
        </div>
        </tab>

        <div class="text-info">
            <label class="form-control-static text-info"> Status: </label>
        </div>
        
        <tab>
        <div class="text-info">
            <label class="form-control-static small" id="paymentID"><%= paymentDetails.status %></label>
        </div>
        <div class="text-info">
            <label class="form-control-static small" id="paymentID"><%= paymentDetails.statusOutput.statusCategory %></label>
        </div>
        </tab>
        
        <div class="text-info">
            <label class="form-control-static text-info"> Status Code: </label>
        </div>

        <tab>
        <div class="text-info">
            <label class="form-control-static small" id="paymentID"><%= paymentDetails.statusOutput.statusCode %></label>
        </div>
        </tab>
    
    </form>

    <form action="/" method="GET">



<% include partials/footer %>
    <div>
        <button class="btn btn--right"> Return </button>
    </div>
</form>